<!DOCTYPE html>
<html>
<head>
  <title>FRestaurant</title>
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="container-fluid">
	<% if !user_signed_in? %>
		<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
	<% else %>
		<h3 class="col-md-6">Restaurant in HCMC </h3>
		<ul class="list-inline col-md-6">
			<li><%= link_to "Home", root_path  %></li>
			<li><%= link_to "About", root_path  %></li>
		</ul>
		<div class="clearfix">
		</div>
		<hr>
	<% end %>
	<div class="row">
        <div class="col-xs-12 col-md-9">
        	<%= yield %>
        </div>
        <div class="col-xs-12 col-md-3">
        	áldknasdlkn
        </div>
    </div>	
</div>
<%= render 'layouts/footer' %>
</body>
</html>
