<!DOCTYPE html>
<html>
<head>
  <title>FRestaurant</title>
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="container-fluid" id="main">
	<% if !user_signed_in? %>
		<% flash.each do |name,msg| %>
			<% if msg.is_a?(String) %>
				<div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<%= content_tag :div , msg , :id => "flash_#{name}" %>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<%= content_tag :h3 , "Restaurant in HCMC" , class: "col-md-6" %>
		<div class="clearfix">
		</div>
		<hr>
	<% end %>
       <%= yield %>
    </div>	
</div>
<%= render 'layouts/footer' %>
</body>
</html>
