<!DOCTYPE html>
<html>
<head>
  <title>FRestaurant</title>
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="container-fluid">
	<% if !user_signed_in? %>
		<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
	<% else %>
		<p> 
			<h2 class="pull-left">Restaurant in HCMC</h2>
			<ul class="pull-right">
				<li>
					<%= link_to "Home", _path %>
				</li>
			</ul>
		</p>
		<hr>
	<% end %>	
	<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
